
#slides {
  display: none;
}
#slides .slidesjs-navigation {
  display: none;
}
#slides .slidesjs-container .slidesjs-control {
  z-index: 0;
}
#slides .slidesjs-previous {
  margin-right: 5px;
  float: left;
  display: none;
}

#slides .slidesjs-next {
  margin-right: 5px;
  float: left;
  display: none;
}
#slide .slidesjs-play.slidesjs-navigation{
  display: none;
}
#slides .slidesjs-stop.slidesjs-navigation {
  display: none;
}
.slidesjs-pagination {
  position: absolute;
  width: 40px;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 0;
  bottom: .5em;
  z-index: 4;
  list-style: none;
  overflow: hidden;
}

.slidesjs-pagination li {
  float: left;
  margin: 0 3px;
  width: 10px;
  height: 10px;
  border-radius: 100%;
}
.slidesjs-pagination li a {
  display: block;
  background-position: 0 0;
  float: left;
  text-indent: -999em;
  overflow: hidden;
  width: 10px;
  height: 10px;
  border-radius: 100%; 
  background: rgba(255, 255, 255,0.6);
}
.slidesjs-pagination li a.active,
.slidesjs-pagination li a:hover.active {
  background-position: 0 -13px;
  background: #fff;
}

  