html, body {
    font-family: "Comic Sans MS","幼圆","黑体",sans-serif;
    margin: 0;
    padding: 0;
    font-size: 15px;
    background-color: #fafafa;
    color: #494949;    
/*	overflow: hidden;*/
}
label{
    font-weight: 500;
}
*,*:before,*:after{
    box-sizing: border-box;
}
*,a,img,button,input,textarea,select,div{
    -webkit-tap-highlight-color:rgba(255,255,255,0);
    -webkit-touch-callout: none;
	text-decoration:none;
}
*,input,textarea,select{
    -webkit-appearance:none;
}
ul{
    list-style: none;
}
.padding_right{
	padding-right:14px;
}
.click_body{
    overflow: hidden;
}
.box_1 {
    height: 60px;
    line-height: 60px;
    padding: 0 14px;
    background-color: white;
    margin-bottom: 14px;
    overflow: auto;
    border-bottom: 1px solid #efefef;
}

.user_head {
    border-radius: 5px;
    overflow: hidden;
    float: left;
    padding: 8.5px 0;
    margin-right: 10px;
}

.box_ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.box_li {
    position: relative;
    line-height: 50px;
    border-bottom: 1px solid #efefef;
}
.box_li .right-span{
    position: absolute; 
    right: 0px; 
    padding-right: 10px;
}
 
.box_area {
    resize: none;
    width: 100%;
    height: 80px;
    border: none;
    outline: none;
    font-size: 14px;
    color: #494949;
}

.box_input {
    width: 70%;
    border: none;
    list-style: none;
    padding-left: 10px;
    outline:none;
    color: #494949;
    font-size: 15px;
    padding-right: 25px;
}

.mob_code {
    position: relative;
    text-align: center;
    line-height: 45px;
    border-left: 1px solid #efefef;
    background-color: none;
    padding: 0;
    outline: none;
    background-color: white;
    float: right;
    color: #4EB97B;
    font-size: 13px;
    padding: 0 14px;
}

.box_2 {
    padding-left: 14px;
    background-color: white;
    margin-bottom: 15px;
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    position: relative;
/*	overflow: hidden;*/
}

.box_3 {
    padding-left: 5px;
    background-color: white;
    margin-bottom: 5px;
    border-bottom: 1px solid #efefef;
    position: relative;
/*  overflow: hidden;*/
}

#get_voice,#play_voice,#recording_voice{
    width: 100%;
    height: 45px;
    background-color:  #e8e8e8;
    color: white;
    border-radius: 5px;
    outline: none;
    border: none;
    font-size: 1.1em;
}
#get_voice{
    color:#8a8a8a;
}
#get_voice img{
    width: 30px;
}
.get_voice_html2{
    display: none;
}
.get_voice_html2 img{
    margin-left: 0px; width: auto; height: 45px; margin-top: -2px;
}
#recording_voice{
    display: none;
    background-color: #f7ca50;
}
#recording_voice img{
    width: auto;
    height: 45px;
    margin-top: -2px;
}

#play_voice{
    display: none;

}
#play_voice p,#get_voice p{
   color: #8a8a8a;
    margin: -26px 20px;
  padding-left: 38px;
  font-size: 1em;
  font-weight: 100;
}
#play_voice img,#get_voice img{

     margin-bottom: -0px;
     margin-left: -10px;
     margin-top: -15px;
     width: 30px;
  
}
#get_voice img{
   margin-left: -60px;
} #play_voice img.close_img{ position: absolute; right: 30px;
      top: 134px;
      margin-bottom: -30px;
      margin-left: 0px;
}
#play_voice img.pause_img{
    display: none;
}

div.arrow-right {
  width:0px;
  height:0px;
  border-bottom:5px solid transparent;  /* left arrow slant */
  border-top:5px solid transparent; /* right arrow slant */
  border-left:5px solid #2f2f2f; /* bottom, add background color here */
  font-size:0px;
  line-height:0px;
}
.box_select {
    position: relative;
    border: none;
    outline: none;
    background: none;
    width: 100%;
    height: 47px;
    font-size: 15px;
    color: #494949;
}

.paotui_fee {
    text-align:  center;
    margin: 20px 0;
    color:#999;
}
.pay-footer{
    z-index:999; 
    position:fixed; 
    width: 100%;
    overflow:hidden;
    margin-top:0; 
    margin-bottom:0px; 
    bottom:0px;
}
.pay-footer .pay-footer-fee{
    width:60%;
    padding: 13px;
    background-color: #fff;
    float: left;
}
.pay-footer button{
    border: none;
    width: 40%;
    padding: 13px;
    color: #fff;
    float: left;
    background-color: #4EB97B;
}


.tips{
    font-size: 12px;
    color: #bcbcbc;
    padding-left: 10px;
    margin-bottom: 40px;
}


#dateTimeText{
    font-size: 16px; 
    z-index: 9; 
    line-height: 50px; 
    position: relative; 
    left: 0px; 
    display: block; text-align: left; 
    padding-left: 9px; 
}
.select_flag {
    width: 20px;
    height: 20px;
}
.select_flag.time_select{
    position: relative; 
    top: -35px; 
    float: right;
    margin-right: 5px;
}
.selector_box {
    position: relative;
	margin-left: 80px;
}

.select_flag_box {
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    height: 40px;
    line-height: 40px;
    background-color: white;
    text-align: center;
    padding-top: 12px;
/*    display: none;*/
}

#sbm_index {
    width: 100%;
    height: 45px;
    background-color:#4EB97B;
    color: white;
    border-radius: 5px;
    outline: none;
    border: none;
    font-size: 1.3em;
    font-weight: 500;
}

.input_flag_box {
    position: absolute;
    right: 5px;
    top: 0;
    width: 20px;
    height: 40px;
    line-height: 40px;
    background-color: white;
    text-align: center;
    padding-top: 12px;
    display: none;
}

.layout_back {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: table;
    text-align: center;
    vertical-align: middle;
    display: none;
}

.call_info {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 150px;
    height: 150px;
    margin-left: -75px;
    margin-top: -75px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    text-align: center;
    color: white;
    padding: 15px;
    font-size: 15px;
}

.call_result {
    position: absolute;
    top: 35%;
    left: 50%;
    width: 100%;
    height: 200px;
    margin-left: -50%;
    margin-top: -100px;
    border-radius: 5px;
    text-align: center;
    color: #4EB97B;
    padding: 15px;
    font-size: 1.5em;

}

#pay_amount,#mobile,#order_from,#order_to {
    height:50px;
    /*margin-top: 6px;*/
}
#pay_chose {
    overflow: hidden;
    padding-left: 25px;
}

.pay_li{
    float: left;
    margin: 0 20px 10px 0;
    border: 1px solid #bcbcbc;
    border-radius: 100%;
    color: #bcbcbc;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
}

.pay_li_last span{
    font-size: 13px;
}

.on_pay {
    color: #f46610;
    border-color: #f46610;
}

.warning {
    font-size: 14px;
    color: red;
    line-height: 14px;
    margin: 0 0 0 80px;
    position: absolute;
    bottom: 0;
}

.warning_info{
	font-size: 14px;
    color: red;
    margin: 0 0 0 80px;
    position: absolute;
    bottom: -20px;
    left: 16px;
}

.label_box {
	width: 70px;
	text-align: right;
}

#pro_ct_ar {
	
}


.swiper-container{
	margin-top: 40px;
	padding-top: 65px;
	padding-bottom: 200px;
}


.swiper-container-pro {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 32%;
	height: 140px;
	
}

.swiper-container-city {
	position: absolute;
	top: 0px;
	left: 32%;
	width: 32%;
	height: 140px;
}

.swiper-container-area {
	position: absolute;
	top: 0px;
	left: 64%;
	width: 32%;
	height: 140px;
}

.swiper-container-business {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 140px;
}

.swiper-container {
	
}

.swiper-slide {
	text-align: center;
	color: #bcbcbc;
	transition: 0.5s;
	font-size: 1.4em;
}

.swiper-slide.swiper-slide-active{
	color: #333;
	
}

#layout {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(73, 73, 73, 0.5);
	display: none;
}

.pro_ct_ar {
	width: 100%;
	height: 250px;
	background-color: #e8e8e8;
}

.select_box {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 250px;
	overflow: hidden;
	display: none;
	background-color: #e8e8e8;
}

.place_sele {
	position: absolute;
	top: 0; 
	left: 0;
	width: 100%;
	height: 100%;
	color: rgba(255, 255, 255, 0);
	border: none;
  	outline: none;
  	background: none;
}

#order_from_address,#order_to_address,#mobile_choose{
    overflow-y: scroll;
    display: none;    
    position: absolute;
    top:0;
    left:0;
    height:100%;
    width: 100%;
    z-index: 30;
    background: rgba(256,256,256,1);
}
.address_title,.mobile_title{
    position: absolute;
    width: 100%;
    /*border: 1px solid red;*/
    padding: 10px 60px 10px 15px;
    background-color: #f2f2f2;
    top:0;
    left:0;

}
.address_title input,.mobile_title input{
    border:1px solid #4EB97B;
    width: 100%;
    float: left;
    height: 35px;
    border-radius: 5px;
    padding-left: 8px;
    font-size: 15px;
    outline:none;
}

.address_title button.cancel{
    text-decoration: none;
    position: absolute;
    right: 5px; 
    top: 18px;
    color: #4EB97B;
    border: none;
    background: none;
}
.sure{
    padding-top: 8px;
    padding-left: 8px;
    font-weight: 100;
    font-size: 14px;
    top: 10px;
    right:60px;
    height: 35px;
    width: 45px;
    background-color:  #4EB97B;
    color: #fff;
    border-radius: 5px;
}
.address_history,#common-addr, .mobile_history{
    margin-top:40px; 
    margin-bottom:0; 
    padding:15px 10px 10px 15px;
}
.address_history li,.mobile_history li{
    list-style: none;
    margin-bottom: 10px;
    border-bottom: 1px solid #efefef;
}
.address_history li span,.mobile_history li span{
    color: #999;
    font-size: 14px;
}

#allmap{
    position: relative;
}
.layer{
      height: 100px;
      width: 100px;
      background: rgba(213, 76, 76, 0.8);
      z-index: 20;
      position: fixed;
      bottom: 110px;
      padding: 20px;
      border-radius: 5px;
  }
.body_fee{
    overflow: hidden;

}
@-webkit-keyframes bounceIn{
    0%{
        opacity:0;
        -webkit-transform:scale(.5);
        transform:scale(.5)
        }
    100%
    {
        opacity:1;
        -webkit-transform:scale(1);
        transform:scale(1)
        }
    }
@keyframes bounceIn{
    0%{
        opacity:0;-webkit-transform:scale(.5);
        -ms-transform:scale(.5);
        transform:scale(.5)
        }
    100%{
        opacity:1;-webkit-transform:scale(1);
    -ms-transform:scale(1);transform:scale(1)
    }
}
.layui-anim {
    -webkit-animation-name: bounceIn;
    animation-name: bounceIn;
}
.layui-layer {
    top: 150px;
    left: 50%;
    margin: 0;
    padding: 0;
    background-color: #fff;
    -webkit-background-clip: content;
    box-shadow: 1px 1px 50px rgba(0,0,0,.3);
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
}
.layui-layer, .layui-layer-shade {
    position: fixed;
    _position: absolute;
    pointer-events: auto;
}
.layui-layer-page .layui-layer-content {
    position: relative;
    overflow: auto;
}
.layui-layer-content {
    position: relative;
}
.layui-layer-setwin {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 0;
    line-height: initial;
}
.layui-layer-setwin button{
    border: none;
    background: #FFF;
    margin-top: -10px;
}
.layui-layer-setwin button .icon.iconfont{
    font-size: 35px;
}
.layui-layer-shade {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    _height: expression(document.body.offsetHeight+"px");
}
.layui-layer, .layui-layer-shade {
    position: fixed;
    _position: absolute;
    pointer-events: auto;
}
.cost{ 
    padding:15px
}
.cost dt{
    font-weight:bold;
    color:#4EB97B;
    line-height:2em;
}
.cost dl{
    margin-bottom:1em;
}
.telephone_input{
      height: 30px;
    width: 20%;
    border: 1px solid #efefef;
    list-style: none;
    padding-left: 8px;
    outline:none;
    color: #494949;
    font-size: 15px;
    padding-right: 14px;
    margin: 0 0px 0 10px;
}

.box_input.telephone_input{
    width: 50%;
    margin-left:10px; 
}
.box_li div label a{
    color: #bfbfbf;
    text-decoration:none;
}
.box_li div label a.active_phone{
    color: black;
}
.box_li i.icon.iconfont{
    position: absolute; 
    font-size:20px; 
    left: 0
}
#mobilephone{
    color: black;
}
/*16.4.13*/
#footMune{
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
    background: #fff;
    width: 100%;
    height: 39px;
    padding: 7px 0 0;
    border-top:1px solid #dfdfdf;
    text-align: right;
}
#footMune #btn_return,#footMune .sbm{
    display: inline-block;
    padding:0 14px;
    line-height: 22px;
    height: 24px;
    border:1px solid #4eb97b;
    color: #4eb97b;
    text-decoration: none;
    border-radius: 4px;
	margin-right:7px;
}
/*order.html*/
.order_tap{
    background-color: #fff;
}
.order_tap .tap_ul{
    width: 100%;
    height: 50px;
    border-bottom:1px solid #efefef; 
    padding: 0px;
}

.order_tap .tap_ul li{
    float:left;
    width: 50%;
    height: 100%;
    line-height: 50px;
    text-align: center;
    color: #888888;
}
.order_tap .tap_ul li:last-child{
    border-right: none;
}
.order_tap .tap_ul li:hover{
    color:#4EB97B;
    cursor: pointer;
}
.box_li.order-id-type{
    position: relative;
    border: none;
    margin-bottom: -15px;
}
.box_li.order-phone{
    position: relative;
    margin-top: -15px; 
}
.box_li.order-phone label a {
    text-decoration: none;
    color:#41abe7;
}

.box_li.order-id-type > div,.box_li.order-phone > div{
    position: absolute;
    top: 0px;
    right: 10px;
}

.box_li.order-info{
    border: none;
}

.box_li.order-info label{
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    border: none;
}
.box_li.order-info label.orange{
    margin-top: -22px;
}
#completed .box_li,#uncompleted .box_li{
    line-height: 40px;
}
.go_comment{
    height: 26px;
    background-color: #fff;
    border:1px solid #4EB97B;
    color: #4EB97B;
    border-radius: 5px;
    outline: none;
    font-size: 1em;
    font-weight: 500;
} 
.go_comment{
    width: 60px;
    padding: 0;
}
.sbm_gray{
    height: 26px;
    background-color: #fff;
    border:1px solid #ddd;
    color: #ddd;
    border-radius: 5px;
    outline: none;
    font-size: 1em;
    font-weight: 500;
}
.box_right{
    position: relative;
}  
.label_right{
    position: absolute; 
    right: 20px;
    color: #bcbcbc; 
    font-family:'SimHei';
} 
.box-comment{
    position: absolute;
    top: 7px;
    right: 10px;
}
.uncomplite{
    color:#FF8406;
}
.green{
    color:#4EB97B  !important;  
}
.green.green-bottom{
    border-bottom: 2px solid #4EB97B; 
}
.gray{
    color:#ddd !important;
}
#canceled > section:last-child{
    margin-bottom: 75px;
}
/*order_detail.html*/

.orange{
    color:#FF8406;
}
.span_right{
    position: absolute; 
    right: 20px;
} 
.box_li{
    overflow: hidden;
}
label{
    font-weight: normal;
}
p{
    margin:0px;
}
li.box_li ul.order_status{
    list-style: none;
    height: 100%;
    width: 100%;
    padding: 0 25px !important;
}
li.box_li ul.order_status li{
    float: left;
    height: 100%;
    width: 22%;
    position: relative;
    text-align: center;
    vertical-align: middle;
}
li.box_li ul.order_status li.status{
    width:0; 
    height:100%;
    z-index: 99;
}
li.box_li ul.order_status li.status div{
    position: absolute;
    top: 38%;
    height: 18px;
    width: 18px;
    margin-top: -9px;
    background-color: #efefef;
    border-radius: 100%;
}
li.box_li ul.order_status li.status:first-child div{
    background-color: #4EB97B !important;
}

li.box_li ul.order_status li.status label,
li.box_li ul.order_status li.status span{
    line-height: 25px;
    font-size: 13px;
    position: absolute;
    top: 22px;
    color: #bcbcbc;
    display: block;
    width: 40px;
    right: 2px;

}
li.box_li ul.order_status li.status span{
    font-size: 10px;
    top:40px;
    right: -5px;
}

li.box_li ul.order_status li.line{
    width:33%; 
    height:100%;
}
li.box_li ul.order_status li.line div{  
    width: 100%;
    position: absolute;
    top: 38%;
    margin-top: -2px;
    border: 2px solid #efefef;
}

.status .on{
    background-color: #4EB97B !important;
}
.line .on{
    border: 2px solid #4EB97B !important;
}

/*order_detail.html*/
#order_detail .box_li{
    line-height: 40px;
}
.box_three{
    float:left; 
    width: 30%;
}
.box_three.box-label{
    margin-right: 10px;
    padding-bottom: 15px;
}
.box_three.box-label span{
    display: block;
    position: absolute;
    top: 20px;
}
    
.box_three label{
   
    float: left;
    display: block;
    color:#8a8a8a;
}
.box_li.box_right-two{
    height: auto !important;
    line-height: 24px !important;
    padding: 5px 0;
}
.box_li.courier_info {
    border: none;
    height: 70px !important;
}  
.box_li.courier_info div{
    padding: 13px 0;
}      
.box_li.courier_info div img{
    border-radius: 100%;
    height: 45px;
}   
.box_li.courier_info .call-courier{
    padding-left: 55px;
    position: absolute;
    margin-top: -8px;
    top: 0px;
}
.box_li.courier_info .call-courier .call-name{
    line-height: 20px;
}
.box_li.courier_info .call-courier img{
    height: 10px;
}    
.box_li.courier_info .call-courier .courier_star{
    background-color: #edb10f;
    border-radius: 5px;
    color: #fff;
    position: relative;
    line-height: 20px;
    height: 20px;
    padding: 1px 5px;
}
.box_li.courier_info .call-courier .courier_star img{
    height: 12px;
    margin-top: -5px;
}    
.box_li.courier_info a{
    display: block;
    float: left;
    position: absolute;
    top: 5px;
    right: 20px;
    margin: 7px 0px;
    width: 45px;
    height: 45px;
    background: url(/static/images/telphone.png) no-repeat center;
    background-size:45px 45px;
}
.box_li.courier_info .call-courier span{
    position: relative;
    top: 23px;
    left: -90px;
    color: #bcbcbc;
}
.share_logo{
    padding: 0 14px;
    width: 120px;
    padding-bottom:0px;
    margin-top: 24px; 
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 999; 
}
.share_logo a{
    display: block;
}
.share_logo a img{
    width: 100%;
}
/*share.html*/

.banner{
    position: relative;
}
.coupon_fee{
    color: #f25555;
}
.detail{
    margin: 0 30px;
}
.btn_receive{
    margin:45px 0px 30px 0px;
}
.coupon_fee{
    position: absolute;
    top: 50%;
    left: 0;
    font-family: 'SimHei';
    font-weight: 900;
    right: 0;
    width: 60vw;
    margin: 0 auto;
    padding-left: 30vw;
    font-size: 2em;
}
.sbm_receive{
    width: 100%;
    height: 45px;
    background-color:#F46610;
    color: white;
    border-radius: 5px;
    outline: none;
    border: none;
    font-size: 1.3em;
    font-weight: 500;
}
.left-line{ 
    border: 1px solid #ddd;
    margin-top: 10px;
}
.rule_title{
    position: relative;
    
}
.span_rule{
    position: absolute;
    top: -10px;
    left: 0;
    right: 0;
    width: 90px;
    display: block;
    background-color: #fafafa;
    margin: 0 auto;
    padding: 0 10px;
    text-align: center;
}
.rule_detail{
    clear: both;
}
.share_layer{
    display: none;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
}
.share_main{        
    background-color: #fafafa;
    position: absolute;
    overflow: hidden;
    width: 100%;
    bottom: 0px;
    font-family: 'SimHei';
    color: #8a8a8a;
}
.share_title{
    font-size: 18px;
}
.share_title p{
    text-align: center;
}
.share_body{
    border-bottom: 1px solid #ddd;
    margin-top: 20px;
}  
.share_body ul{
    list-style: none;
    padding: 0 30px;
    overflow: hidden;
    text-align: center;
}
.share_body ul li{
    float: left;
    width: 92;
    padding-right: 30px;
    margin-right: 5px;
}
.share_body ul li:last-child{
    width: 62px;
    padding-right: 0;
    margin-right: 0;
}
.share_body ul li img{
    margin-bottom: 10px;

}
.share_foot{
    margin: 20px 0;
}
.cancel_share{
    text-align: center;
    font-size: 18px;
    color:#4EB97B;
}

/*assign*/
.assign-title{
    /*width: 100%;*/
    /*height: 50px;*/
    padding: 10px 10px;
    position: relative;
    text-align: center;
}
.assign-title .my{
    float: left;
    /*height: 100%;*/
    position: absolute;
    top:0px;
}  

.assign-title .my a{
    text-decoration: none;
}
.assign-title .my .icon.iconfont{
    font-size: 28px;
    color: #4EB97B;
}
.assign-title .logo .icon.iconfont{
    font-size: 30px;
    color: #4EB97B;
}
.assign-title img{
    height: 32px;
    width: auto;
}
.assign-title .logo{
    text-align: center;
    display: inline;
}
.assign-title .city-selector{
    display: inline;
    position: relative;
}  
.assign-title .city-selector span{
    padding-right: 5px;
    color: #494949;
}
.city-choose{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    -webkit-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0);
    -webkit-transition: -webkit-transform .2s cubic-bezier(0,0,.25,1);
    transition: transform .3s cubic-bezier(0,0,.25,1);
    /*display: none;*/
}
.city-choose.show{
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
     -webkit-transition: -webkit-transform .2s cubic-bezier(0,0,.25,1);
    transition: transform .3s cubic-bezier(0,0,.25,1);   
}
.city-choose header{
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid #efefef;
    box-shadow: 0px 0px 2px #efefef;
    background-color: #fff;
    z-index: 99999;
}
.city-choose header .icon.iconfont{
    font-size: 30px;
    float: left;
    padding: 2px;
}
.city-choose header .current .icon.iconfont{
    float: none;
    margin-left: -34px;
}
.city-choose header .current{
    text-align: center;
    padding: 2px;
}
.city-choose header .current span.position{
    line-height: 36px;
}
.city-choose .body{
    position: absolute;
    top: 41px;
    left: 0;
    right: 0;
    bottom:0;
    height: auto;
}
.city-choose .body .all-city .title{
    background-color: #fafafa;
    padding:3px 15px;
}
.city-choose .body .all-city .letter-cities{
    padding-left: 15px;
}
.city-choose .body .all-city .letter-cities p{
    padding: 10px 0;
    border-top: 1px solid #fafafa;
}
.city-choose .body .all-city .letter-cities p:first-child{
    border-top:none;
}
.city-choose .all-letters{
    position: fixed;
    right: 0;
    width: 20px;
    height: 100%;
    font-size: 12px;
    font-weight: 450;
    color: #0a60fe;
    background-color: #fff;
    overflow: hidden;
    display: table;
    margin-bottom: 41px;
    
}
.city-choose .all-letters .list{
    display: table-cell;
    vertical-align: middle;
}  
.city-choose .all-letters .list span{
    padding-left: 5px;
    display: block;
}
.banner.slide{
    overflow: hidden;

}
.banner.slide .banner1,.banner.slide .banner2,.banner.slide .banner3{
    float: left;
}
.banner.slide .banner2{
}
.main-btn,.main-gray-btn{
    width: 100%;
    height:30px; 
    overflow: hidden;
    background-color: #4EB97B; 
    border: none;
    border-radius: 5px;
    color: #fff;
}
.gray-btn{
    background-color: #dfdfdf; 
}
.right-slide{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    height: 100%;
    background: #fff;
    border-right:1px solid #efefef;
    overflow: hidden;
    z-index: 999;
}
.left-slide{
    position: absolute;
    display: none;
    top: 0;
    right: 0;
    width: 40%;
    height: 100%;
    background: rgba(73, 73, 73,0.6);
    z-index: 998;
}
.right-slide .slide-container{
    width: 100%;
    padding: 15px 2px 15px 15px;
}
.slide-personal-info{
    width: 100%;
    padding-bottom: 15px;
    border-bottom: 1px solid #efefef;
    overflow: hidden;
}
.slide-personal-info .slide-personal-img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    overflow: hidden;
    float: left;
}
.slide-personal-info .slide-personal-img img{
    width: 100%;
}
.slide-personal-info .slide-personal-basic{
    width: 100%;
    padding-left: 65px;
    padding-top: 5px;
}
.slide-personal-info .slide-personal-basic .slide-personal-name span{
    font-size: 14px;
    color: #8a8a8a;
    display: block;
}
.slide-personal-info .slide-personal-basic .slide-personal-phone span{
    font-size: 13px;
    color: #bcbcbc;
    display: block;
}
.right-slide .slide-container .slide-options{
    width: 100%;
    padding-bottom: 5px;
    padding-top: 15px;
    border-bottom: 1px solid #efefef;
    overflow: hidden;
}

.slide-options .slide-option-box{
    margin:10px 0;
    margin-top: 0;
    overflow: hidden;
}
.slide-options .slide-option-box .slide-option-img{
    width: 20px;
    height:20px;
    float:left;
}
.slide-options .slide-option-box .slide-option-img img{
    width: 100%;
}
.slide-options .slide-option-box .slide-option-title {
    padding-left: 35px;
}
.slide-options .slide-option-box .slide-option-title a{
    text-decoration: none;
    color: #494949;
}
.right-slide .slide-container .slide-login .slide-options {
    width: auto;
    
}

.slide-login .slide-options .slide-log-box{
    overflow: hidden;
    width: 160px;
    margin:0 auto;
    margin-bottom: 20px;
} 

.slide-options .slide-log-box .slide-button-box{
    float: left;
    margin-right: 10px;
    width: 70px;
}
.slide-options .slide-log-box .slide-button-box a{
    display: block;
    text-align: center;
    font-size: 13px;
    padding: 5px 0px;
    text-decoration: none;
}
    
.right-slide .slide-container .slide-other .slide-other-title{
    text-align: center;
    padding-right: 15px;
    margin-top: 15px;
}
.right-slide .slide-container .slide-other .slide-other-title a{
    text-decoration: none;
    color: #494949;
}
.choose_otype{
    margin-bottom:15px;
    background-color: #fff;
    overflow: hidden;
}
.otype_row{
    width: 100%;
    height: 33.333333%;
    display: table;
    border-bottom:1px solid #efefef;
    overflow: hidden;
    
}
.otype_row:first-child{

}
.otype_row .otype_box{
    width: 33.33333333%;
    box-sizing: border-box;
    background-color: #fff !important;
    border-right: 1px solid #efefef;
    display: table-cell;
    vertical-align: middle;
}
.otype_row .otype_box:last-child{
    border-right: none;
}
.otype_row .otype_box .otype_logo{
    width: 100%;
    text-align: center;
    margin-top: -3px;
}
.otype_row .otype_box .otype_logo .icon.iconfont{
    font-size: 55px;
    color: #4eb97b;
}
 .otype_row .otype_box .otype_info{
    font:15pt ;
    color: #8a8a8a;
    text-align: center;
    margin-top: -3px;
}

.order .my{
    position: absolute;
    margin: 0;
    z-index: 999;
}
.order .logo{
    width: 134px;
    margin: 0 auto;

}
.order .my img:hover{
    cursor: pointer;
}
.order{
  
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    background-color: #fafafa;
    border-bottom: 1px solid #dfdfdf;
    margin-bottom: 20px;
}
.order .my:hover{
    cursor: pointer;
}
.order .my ul{
    width: 100px;
    background-color: #fff;
    list-style: none;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 0 5;
    margin-top: 0px;
}    
.order .my ul li{
    padding: 6px 0;
    border-bottom: 1px solid #ddd;
    text-align: center;
}
.order .my ul li:last-child{
    border: none;
}
.order .my ul li a{
    color: black;
    text-decoration: none;
    display: block;
    height: 100%;
    padding: 6px;
    border-radius: 5px;
}
.order .my .my_menu ul li a:hover{
    background-color:#ddd;
}

.triangle i.triangle-up{
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid #ddd;
    position: absolute;
    left: 20px;
}
.triangle em.triangle-up {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 8px solid #fff;
    position: absolute;
    top: 3px;
    left: 21px;
}
em.triangle-off{
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #494949;
    position: absolute;
    top: 7px;
    /*right: 0px;*/
    text-align: right;
}
    
.triangle{
    position: relative;
    width: 100px;
    height: 10px;

}
#my_menu{
    display: none;
}
.icon-green{
    color: #4EB97B;
}
.icon-gray{
    color:#bcbcbc;
}
.choose_extend,.three_span{
    float: left; 
    position: relative;
    width:30%;
}
#car_distribution,#order_price{
    width: 35%;
}
.three_span label{
    display: block;
    height: 30px;
    line-height: 30px;
    margin: 0;
}
.three_span span{
    display: block;
    height: 20px;
    line-height: 20px; 
}
ul.box_ul li.box_li ul{
    padding-left: 0px;
}
.box_right{
    position: relative;
    overflow: hidden;
}
.box_right label{
    
    width: 80px;
    float: left;
    display: block;
    color:#8a8a8a;
}
.box_right span{
    display: block;
    margin-left: 80px;
}

.box_info{
    line-height: 28px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.kfw_explain{
    
    margin:0 20px;
    margin-top: 20px;
    height: 150px;
    position: relative;
}
.explain_title{
    width: 110px;
    position: absolute;
    color: #bcbcbc;;
    top: -10px;
    font-size: 16px;
    left: 0px;
    right: 0px;
    margin: 0 auto;
    background-color: #fafafa;
    padding: 0 15px;
}
.explain_input{
    border:1px solid #efefef;
    border-radius: 5px;
    
    padding:20px 10px;
    color: #bcbcbc;;
}
.box_ul .pay_type i.icon.iconfont{
    font-size: 16px; 
}
.box_ul .pay_type i.choose-pay{
    display: none;
    color:#4EB97B;    
    float: right;
    padding-right: 10px;
    position: relative; 
    font-size: 16px; 
    left: 0; 
}


/*courier_home.html*/
.personal-title{
    position: absolute;
    bottom: 0;
    background-color: rgba(255,255,255,0.6);
    overflow: hidden;
    width: 100%;
    height: 50px;
    padding: 7px 10px;
}
.personal-title .personal-name{
    overflow: hidden;
    margin-bottom: 5px;
}    
.personal-title .personal-name span,
.personal-title .personal-name label{
    border-radius: 4px;
    padding: 1px 5px;
    text-align: center;
    margin-top: 2px;
    width: 60px;
}
.personalName{
    display: inline-block;
    max-width: 8em;
    font-weight: normal;
    overflow: hidden;
    text-overflow:ellipsis;
	white-space: nowrap;
	float:left;
	padding-right: .5rem;
	line-height:24px;
	height:24px;
	margin-left: 54px;
}
.personalPhoto{
    position: absolute;
	left: 0%;
	top: 72%;
	margin: 0px 0px 0px 15px;
	border-radius: 50%;
	overflow: hidden;
	z-index: 100;
	width: 45px;
	height: 45px;
	border: 2px solid #fff;
}
.personal-title .personalPhoto img{
    width: 100%;
}
.personal-title .personal-name label{
    color: #fff;
    padding-left: 0px;
}
.personal-name img{
    width: 8px;
    margin-left: 5px;
}
.personal-name label img{
    width: 12px;
}
.background-yelow{
    background-color: #edb10f;
}
.background-blue{
    background-color: #41abe7;
}
.background-red{
    background-color: #f25555;
}
.background-green{
    background-color: #4EB97B;
}
.background-gray{
    background-color: #8a8a8a;
}
.background-f2{
    background-color: #f2f2f2;
}
.personal-skill,.personal-introduce,.personal-phone{
    padding: 15px 0;
   /* padding-bottom: 5px;*/
}
.server-qulity{
    overflow: hidden;
    padding-top: 10px;
    padding-bottom: 10px;
}
.server-qulity li{
    float: left;
    width: 48%;
    text-align: center;
}
.server-qulity li label{
    display: block;
    width: 100%;
    color:#8a8a8a;
}
.server-qulity li span{
    width: 50px;
    display: block;
    font-size: 17px;
    margin: 0 auto;
    text-align: left;
}
.title-box{
    float: left;
    width: 70px;
   
}
.title-box label{
    color:#8a8a8a;
}
.info-box{
    /*padding-left: 80px;*/
    overflow: hidden;
}
.info-box label{
    display: block;
    border-radius: 3px;
    padding: 3px 5px;
    float: left;
    text-align: center;
    color: #fff;
    margin-bottom: 10px;
    margin-right: 5px;            
}
.info-box p{
    margin: 0;
}
.personal-comment .user-photo{
    float: left;
    height: 36px;
    width: 36px;
    border-radius: 100%;
    overflow: hidden;
    margin: 3px 10px 0 0;
}
.personal-comment .comment-title{
    position: relative;
    overflow: hidden;
    padding-top: 10px;
    padding-bottom: 5px;
} 
.personal-comment .comment-title label{
    font-size: 12px;
    color: #bcbcbc;
}
.personal-comment .comment-title .comment-score{
    position: absolute;
    right: 0px;
    top: 10px;
    font-size: 12px;
}
.personal-comment .comment-title .comment-score i{
    padding-right: 2px;
}
.personal-comment .comment-title .comment-score i:last-child{
    padding-right: 0px;
}
.personal-comment .order-info p{
    margin: 0 0 10px 0;
}
.personal-comment .user-comments{
    padding: 0 0 10px 0;
}
.personal-comment .user-comments img{
    width: 5px;
}
.personal-comment .user-comments p{
    padding-left: 50px;
    margin: 0;
}
.personal-comment .user-comments p:first-child{
    color:#8a8a8a;
}
#footerbg{
	padding-bottom:40px;
}
#comments .box_2{
    border-bottom: none;
}
#comments .box_2:last-child{
    margin-bottom: 15px;
    border-bottom: 1px solid #efefef;
}
.personal-addr{
    overflow: hidden;
    position: relative;
    height: 60px;
}
.personal-addr span{
    color:#8a8a8a; 
    float: left;
    margin-top: 20px;
}
.personal-addr span.active{
	height:20px;
	border:1px solid rgb(78, 185, 123);
	margin-right:7px;
	padding-right:5px;
}
.iconfontA{
	background:rgb(78, 185, 123);
	color: rgb(255, 255, 255);
	display: inline-block;
	height: 18px;
	margin-right:5px;
}
.titleDes{
	font-weight:normal;
	color:#4eb97b;
	font-size:15px;
	margin: 0 0 10px;
}
.titleDes i{
	display:inline-block;
	width:2px;
	background:#4eb97b;
	height: 16px;
	float: left;
	margin: 3px 5px 0 0;
}
.personal-addr .chat{
    display: block;
    position: absolute;
    right: 0px;
    margin: 7px 0px;
    width: 45px;
    height: 45px;
    font-size: 45px;
    color: #4eb97b;
}
.personalSkills{
	padding:0px;
}
.skills_box{
	margin:0 0 10px;
	background:#fff;
	padding:15px 14px 0;
}
.floatRight{
	float:right;
}
.skillTitle{
	font-size:16px;
	margin:0;
}
.skillDesc{
	width:100%;
	max-height:36px;
	overflow:hidden;
	text-overflow:ellipsis;
	margin:5px 0 10px;
	color:#9a9a9a;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
.skillTitle #title{
	color:#494949;
}
.skillTitle #serviceMoney{
	color:#f46610;
}
.skillPic{
	width:100%;
	vertical-align:middle;
}
.skillPic img.skillPicSecond,.skillPic img.skillPicThird,.skillPic img.skillPicFrist{
	margin:0.1rem;
}
/*manager_addr.html*/
#addr-list{
    padding-bottom:60px;
}
.manage-addr{
    padding:0px;
    margin: 0px;
    border-top:none;
    border-bottom: 1px solid #efefef;

}
.manage-addr:first-child{
    border-top:none;
}
.manage-addr .box_ul{
    padding: 8px 0;
    position: relative;
}  

.manage-addr .box_ul .box_li{
    line-height: 14px;
    padding: 0 11px;
    padding-right: 40px;
}
.manage-addr .addr-title{
    overflow: hidden;
    font-size: 16px;
    color: #494949;
    padding-bottom: 5px;
}
 .manage-addr .addr-title .title{
    line-height: 22px;
}   
.manage-addr .addr-body .phonenumber{
    font-size: 14px;
}
.manage-addr .addr-body{
    font-size: 12px;
    line-height: 18px;
    color: #8a8a8a;
}
.manage-addr .addr-body p{
    margin: 0px;
}
.foot-btn{
    position: fixed;
    width: 100%;
    height:40px; 
    margin-top:0; 
    margin-bottom:0px; 
    bottom:0px;
    overflow: hidden;
    background-color: #4EB97B; 
}
.foot-btn p{
    color:#fff;
    text-align: center;
    margin:0px;
    padding: 10px 0;
}
.manage-addr.default-addr li.default-flag{
    position: absolute;
    top: 0px;
    bottom: 0px;
    margin: auto 0px;
    padding: 20px 0;
    right: 10px;
}
.manage-addr.default-addr li.default-flag i{
    color: #4EB97B;
    font-size: 20px;
}

.addr-input{
    width: 100%;
    padding: 0;
}
.modify-addr .addr-input{
    margin:0px;
    line-height: 15px;
}
.modify-addr  .box_ul{
    padding: 0 0 0 15px;
}  
.modify-addr  .box_ul li:last-child{
    border-bottom:none;
}
#choose-addr{
    overflow-y: scroll;
    display: none;    
    position: absolute;
    top: -15px;
    left:0;
    height:100%;
    width: 100%;
    z-index: 999;
    background: rgba(256,256,256,1);
}
#choose-addr .addr-title{
    position: absolute;
    width: 100%;
    /*border: 1px solid red;*/
    padding: 10px 60px 10px 15px;
    background-color: #f2f2f2;
    top:0;
    left:0;

}
#choose-addr .addr-title input{
    border:1px solid #4EB97B;
    width: 100%;
    float: left;
    height: 35px;
    border-radius: 5px;
    padding-left: 8px;
    font-size: 15px;
    outline:none;
}

#choose-addr .addr-title a.cancel{
    text-decoration: none;
    position: absolute;
    right:15px;
    top: 18px;
    color: #4EB97B;
}
/*follow-count*/
#follow-count{
    margin:20px;
}
#follow-count .icode-container{
    width: 100%;
    border: 1px solid #efefef;
    border-radius: 5px;
    padding: 20px 35px 35px 35px;
    background-color: #fff;
}
#follow-count .icode-container p{
    text-align: center;
    margin:0 0 15px 0; 
}
#follow-count .icode-container .follow-icode p{
    margin:0;
}
#follow-count .icode-container .follow-icode img{
    margin: 0 auto;
    width: 100%;
}
#follow-count .follow-footer{
    text-align: center;
    margin: 25px 0;
}
    

#follow-count .follow-footer p{
    text-align: center;
    margin: 15px 0;
    display: inline;
    padding: 20px;
}

i.iconfont.female{
    font-size: 12px;
    color: #f88bb1;
}
i.iconfont.male{
    font-size: 12px;
    color: #50c9e3;
}
/*courier 16.4.16*/
.pic_box .picCont,skillPicFrist,skillPicSecond,skillPicThird{
	display:inline-block;
	vertical-align:middle;
	border:1px solid #EFEFEF;
	float:left;
}
.clear{
	display:inline-block;
	width:100%;
	height:1px;
	clear:both;
}
.pic_box .picCont img{
	width:100%;
}
.pic_box.picFrist .picCont,.skillPicFrist{
	width:19.7rem;
	height:19.7rem;
}
.pic_box.picSecond .picCont,.pic_box.picFourth .picCont{
	width:9.4rem;
	height:9.4rem;
	margin:.2rem;
}
.pic_box.picThird .picCont,.pic_box.picSix .picCont{
	width:6.1rem;
	height:6.1rem;
	margin:.2rem;
}
.pic_box.picFifth .picCont:nth-child(1){
	width:12.6rem;
	height:12.6rem;
	margin:.19rem;
}
.pic_box.picFifth .picCont:nth-child(2),.pic_box.picFifth .picCont:nth-child(3),.skillPicThird{
	width:6.1rem;
	height:6.1rem;
	margin:.2rem;
}
.pic_box.picFifth .picCont:nth-child(4),.pic_box.picFifth .picCont:nth-child(5),.skillPicSecond{
	width:9.4rem;
	height:9.4rem;
	margin:.2rem;
}
/*footer*/
#footerbg{
	display:none;
	width:100%;
	height:40px;
}
.footer{
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 3.2rem;
    bottom: 0;
	display:none;
}
.footerBg{
    width: 100%;
    height: 100%;
    position: absolute;
    background: #000;
    opacity: 0.75;
}
.footerContent{
    position: absolute;
    width: 100%;
    height: 3.2rem;
    color: #fff;
    z-index: 10;
}
.footerLogo{
    display: block;
    width: 2rem;
    height: 2rem;
    margin: 0.6rem;
    background: url(../images/share_icon.png);
    background-size: 100% 100%;
	float:left;
}
.footerContent h3{
    font-size:0.86rem;
    margin: 0.5rem 0 0;
}
.footerContent p{
    font-size:0.64rem;
}
.downLoad{
    display: block;
    width: 5.6rem;
    height: 2rem;
    text-align: center;
    line-height: 2rem;
    font-size: 0.83rem;
    position: absolute;
    top: 0.6rem;
    right: 0.6rem;
    color: #fff;
    background: #4eb97b;
    border-radius: 0.3rem;
	text-decoration:none;
}
.skillCount{
	display:inline-block;
	width:30px;
	text-align:center;
}
/*header*/
header,section,footer,article,nav,aside,address,menu{display:block;width:100%;overflow: hidden;}
.container{
	width:92%;
	max-width:1200px;
	margin:0 auto;
}
#containerNav{
	margin: 10px auto;
	font-size: 18px;
}
.header{
	height:0.8rem;
	text-align:right;
}
.paddingB{
	padding-bottom: 0.1rem;
	border-bottom: 1px solid #F2F2F2;
}
.logo{
	display:inline-block;
	float:left;
	width:1rem;
	height:.64rem;
	background:url(../images/logo.png);
	margin-top:.11rem;
	background-size:100% 100%;
}
.address{
	float:left;
	margin:.25rem .2rem 0;
	font-size:.16rem;
}
.address a{
	font-size:.12rem;
}
.menu{
	height:.8rem;
	font-size:.16rem;
	line-height: .75rem;
}
.menu a:not(:last-child){
	margin-right:.30rem;
}
.menu span a:first-child{
	display:none;
}
#menuBtn{
	display:none;
}
.menu a.action{
	color:#37bc5f;
}
.addressMobile{
	float: left;
	line-height: 0.4rem;
	padding: 0.17rem 0px;
}
.addressMobile b{
	display:inline-block;
	width:0.37rem;
	height:0.37rem;
	background:url(../images/phone.png) no-repeat;
	background-size:100% 100%;
	vertical-align:middle;
	margin-right: 0.1rem;
}
.addressMobile p{
	font-size: 0.16rem;
}
@media (min-width:330px) and (max-width:600px){
html,body{font-size:17px;}
#footerbg{
    display:block;
}
.footer{
    display:block;
}
.menu{
	position: fixed;
	width: 100%;
	height:100%;
	left: 100%;
	transition:left .1s;
	padding-left:40%;
	z-index:2000;
}
.menu span{
	display:block;
	width: 100%;
	height:100%;
	background:#fff;
}
.menu span a{
	display:block;
	text-align: center;
	font-size:.18rem;
}
#menuBtn{
	display:block;
	position: absolute;
	width: 0.76rem;
	height: 0.76rem;
	left: 5.2rem;
	background:url(../images/menu.png);
	background-size:100% 100%;
}
.menu span a:first-child{
	display:block;
	border-bottom: 1px solid #E0E0E0;
	text-align:left;
	padding-left: .5rem;
	color:#8d8d8d;
	line-height: .54rem;
}
.menu a:not(:last-child) {
    margin-right:0;
}

}